// import font
@use 'font' as f;
@use 'variable' as v;

// resets

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: f.$font;
  background-color: v.$background-color;
  color: v.$text-color;
  overflow-x: hidden;
}

a {
  color: v.$text-color;
  text-decoration: none;
  font-size: 1.8rem;
}

a:hover{
  opacity: 0.9;
}
ul {
  list-style: none;
}

p {
  line-height: 3.2rem;
  font-size: 2rem;
  color: #80ab9e;
  font-weight: 300;
}

img {
  width: 100%;
  object-fit: cover;
}
