// Variables

$primary-color:#00E3A5;
$background-color:#0D0D0D;
$card-color-1:#FFB413;
$card-color-2:#FF5A13;
$card-color-3:#2FB8EB;
$card-color-4:#00E3A5;
$shadow-color: #1f443928;
$shadow-color-cards: #00dd9b04;
$shadow-color-testimonials: #00dd9b15;
$text-color: #F5FBF2;

